"*":
  "atom-material-ui":
    fonts: {}
    panels:
      panelContrast: true
    tabs:
      rippleAccentColor: true
      tabMinWidth: true
    treeView: {}
    ui:
      accentColor: "Purple"
      slimScrollbar: true
  core:
    themes: [
      "atom-material-ui"
      "robin-hood-syntax"
    ]
  editor:
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "474dbd4b-ebd7-5475-8928-f66c9023c4d5"
  "glsl-preview": {}
  minimap: {}
  pigments: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
