"*":
  "atom-material-ui":
    colors:
      abaseColor:
        red: 126
        green: 87
        blue: 194
        alpha: 1
      accentColor:
        red: 176
        green: 228
        blue: 87
        alpha: 1
      predefinedColor: "Purple"
    fonts: {}
    tabs: {}
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: true
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 10
    invisibles: {}
  "exception-reporting":
    userId: "f094f749-798d-0c9e-c155-53fec054b333"
  welcome:
    showOnStartup: false
